html {
    background: #000000;
}

.resume {
    color: #ffffff;
}

.info{
    padding: 0px 15px 0px 9vw;
}




/* Scrollbar style -----------------------------------------------------*/
::-webkit-scrollbar {
    width: 1em;

}

::-webkit-scrollbar-track {
    background: #000000;
    min-height: 100vh;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 100vw;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #9a9a9a;
    }