html {
    background: #000000;
}

.resume {
    color: #ffffff;
}

.name{
    display: flex;
    justify-content: center;       /* center items by default */
    align-items: center;
    position: relative;            /* so we can absolutely place button */
    padding: 30px;
    background-color: transparent;
}
.name h1 {
        color: #ffffff;
    font-size: calc(15px + 0.7vw);
}

.downloadbtn {
    position: absolute;            /* so it can be placed over the name */
    right: 1vw;
    top: 30px;
    padding: 1vw 1vw;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    border-radius: 1vw;
    font-size: small;
}
.downloadbtn:hover {
    
    background-color: #cccccc;
}

.downloadbtn svg {
    display: block;
}

.info{
    padding: 0px 15px 0px 9vw;
    font-size: calc(10px + 0.7vw);
}
.info h4 {
    color: #ffffff;
    font-size: calc(12px + 0.7vw);
}

.infoList {
    padding-left: 20px;
    line-height: 1.5em;
}
.infoList ul{
    padding-left: 20px;
}
.infoList b{
    color: #6ab3e1;
}






/* Scrollbar style -----------------------------------------------------*/
::-webkit-scrollbar {
    width: 1em;

}

::-webkit-scrollbar-track {
    background: #000000;
    min-height: 100vh;
}

::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 100vw;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #9a9a9a;
    }