html {
    
    background:#000000;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    background: transparent;
    font-family: sans-serif;
    margin: 0;
}


.page {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.name {
    color: #ffffff;
    padding: 30px;
    text-align: left;
    font-size: 30px;
    font-family: sans-serif;
    font-size: calc(3vw + 0.7vw);
    background-color: transparent;
    /*background-image: linear-gradient(#ffffff,#0025ff,#001599); */
}

.links {

    overflow: hidden;
    text-align: left;
    background-color: transparent;
    /*background-image: linear-gradient(#001599,#110070); */
}

    .links a {
        padding: 25px 10px 25px 10px;
        float: left;
        display: block;
        text-align: left;
        text-decoration: none;
    }

        .links a:hover {
            background: #ffffff;
            color: #000000;
        }
/*unvisited link*/
a {
    color: #ffffff;
}


.left {
    /*background-image: linear-gradient(#110070,#5a0095); */
    padding: 10px 0px 20px 0px;
    width: 30%;
    float: left;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    div.left {
        width: 50%;
        height: 100%;
    }
}

.about {
    color: white;
    padding: 0px 0px 0px 20px;
    font-size: calc(15px + 0.7vw);
}

.right {
    /*background-image: linear-gradient(#110070,#5a0095); */
    font-size: calc(10px + 0.7vw);
    color: white;
    padding: 12px 0px 10px 0px;
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    div.right {
        padding: 25px 0px 10px 1vw;
    }
}

.info {
    text-indent: 50px;
    line-height: 35px;
    padding: 0px 15px 0px 15px;
}

@media screen and (max-width: 600px) {
    .info {
        text-indent: 0px;
    }
}

@media screen and (min-width: 601px) {
    .info {
        padding: 0px 1.5vw 0px 30vw;
    }
}

@media screen and (max-width: 600px) {
    .infoParent {
        text-align: center;
    }
}


/*Scrollbar style -----------------------------------------------------*/
::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #000000;
    min-height: 100vh;
}

::-webkit-scrollbar-thumb {
    background: #808080;

    border-radius: 100vw;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #9a9a9a;
    }
